@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
* {
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

a * {
    color: #000;
}

#main {
    width: 80%;
}

#root {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: xx-large;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(6, 40, 61, 0.5);
}

.styled-table thead tr {
    background-color: #000;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(37, 109, 133);
}

input[type=text],
input[type=date],
input[type=password] {
    padding: 2px 2px;
    width: 270px;
    height: 45px;
    border-radius: 5px;
    border: 3px solid #000;
}

table td .lb {
    font-size: 24px;
    display: inline-block;
}

input[type=checkbox] {
    width: 120px;
    height: 18px;
}

#sideBar {
    /* width: 20px; */
    width: 300px;
    transition: all 0.3s;
    height: 50%;
    /* overflow: hidden; */
    transform: translateX(0);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
    background-blend-mode: multiply, multiply;
    position: absolute;
    left: 0;
    top: 20%;
    transform: translateX(-10px);
    border-radius: 15px;
    /* color: #ffffff; */
    font-family: 'Zen Dots', cursive;
}

#icon {
    position: absolute;
    right: 0;
    transform: translateX(15px);
    top: 44%;
    /* background-color: white; */
    border-radius: 50%;
    /* width: 38px; */
    text-align: center;
    /* height: 30px; */
}

#sider {
    margin-left: 40px;
    /* margin: auto; */
}

#sider .col-sm-10 {
    font-size: 20px;
}

#side1 {
    /* display: none; */
}

#side-head {
    font-size: 28px;
    text-decoration: underline;
}

.navbar .header {
    width: 100%;
    height: 60px;
}

.navbar .header .left {
    left: 0;
    transform: translate(20px, -20px);
    position: absolute;
}

.navbar .header .left2 {
    left: 0;
    transform: translate(20px);
    position: absolute;
}

.head {
    text-decoration: underline;
    font-size: 30px;
    font-family: 'Zen Dots', cursive;
}

.noUn {
    text-decoration: none;
}

.navbar .header .right {
    right: 0;
    transform: translateX(-20px);
    position: absolute;
}


/* CSS */

input[type=submit] {
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

#different-type {
    padding: 5px 10px;
}

input[type=submit]:focus {
    text-decoration: none;
}

input[type=submit]:hover {
    text-decoration: none;
}

input[type=submit]:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
}

input[type=submit]:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    input[type=submit] {
        padding: 12px 50px;
    }
}

.formpage {
    padding-top: 20px;
    width: 400px;
    height: 400px;
    border: 4px solid #000;
    border-radius: 17px;
    left: 37%;
    /* animation: jumping 1s infinite ease-in-out; */
    transition: all 0.5s;
    z-index: 200;
    position: absolute;
}


/* @keyframes jumping {
    0% {
        transform: translateY(-7px);
    }
    50% {
        transform: translateY(14px);
    }
    100% {
        transform: translateY(-7px);
    }
} */

.formpage::after {
    position: absolute;
    content: "";
    display: block;
    transform: translate(5px, -100%);
    border: 4px solid #000;
    border-radius: 17px;
    width: 400px;
    height: 400px;
    z-index: -10;
}

.formpage2 {
    margin-top: 100px;
    padding-top: 20px;
    width: 400px;
    height: 400px;
    border: 4px solid #000;
    border-radius: 17px;
    left: 37%;
    /* animation: jumping 1s infinite ease-in-out; */
    transition: all 0.5s;
    z-index: 200;
    position: absolute;
}

.formpage2::after {
    position: absolute;
    content: "";
    display: block;
    transform: translate(5px, -70%);
    border: 4px solid #000;
    border-radius: 17px;
    width: 400px;
    height: 400px;
    z-index: -10;
}

@media only screen and (max-width:1200px) {
    * {
        display: none;
    }
}